{% extends 'projects/layout.html' %} {% block title %}Project{% endblock %}
{%block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 class="text-muted py-2">{{project.project_name}}</h3>
      <div class="card h-100 rounded">
        <div class="card-body">
          <h5 class="card-title">{{ project.subtitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            By {{project.student_name}}
          </h6>
          <hr />
          <h6>Description</h6>
          <div class="preserve">{{project.description}}</div>
          <hr />
          <h6>Project Links</h6>
          <div class="preserve">{{project.links}}</div>
          <hr />
          <h6>Contact</h6>
          <div class="preserve">{{project.contact}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
