<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input
    type="Name"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Your Name"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Student ID</label>
  <input
    type="Student ID"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Your student ID"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Project name</label>
  <input
    type="Project title"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Name of your project"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Subtitle</label>
  <input
    type="Project title"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="A short description of your project."
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Description</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    placeholder="Project details, technologies and tools used, etc"
    rows="5"
  ></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Links</label>
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    placeholder="links to the project, source code, etc"
    rows="3"
  ></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Contact</label>
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    placeholder="Email address, facebook ID, etc"
    rows="3"
  ></textarea>
</div>
